<footer class="border-t border-gray-200 mt-24">
  <div class="max-w-6xl mx-auto px-6 py-8 flex flex-col sm:flex-row items-center justify-between gap-4 text-sm text-gray-500">
    <p>© {new Date().getFullYear()} Erik Swanson</p>

    <a href="/" class="flex items-center gap-3">
        <img src="/logo/es-logo.png" class="h-8 w-auto" alt="logo" />
    </a>

    <div class="flex gap-4">
      <a
        href="https://github.com/eriks972"
        target="_blank"
        class="hover:text-gray-900 transition"
      >
        GitHub
      </a>
      <a
        href="https://www.linkedin.com/in/erik-swanson-1332a917b/"
        target="_blank"
        class="hover:text-gray-900 transition"
      >
        LinkedIn
      </a>
    </div>
  </div>
</footer>

