---
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";
import '../styles/global.css' 
import Analytics from '@vercel/analytics/astro'
const { title = "Erik Swanson | Developer" } = Astro.props;
---
<script is:inline>
  const theme = localStorage.getItem("theme");
  if (theme === "dark") {
    document.documentElement.classList.add("dark");
  }
</script>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Full-stack software developer specializing in data-driven web applications using React, Next.js, Astro, and Svelte." />

    <link rel="icon" href="/favicon.ico" />
    <!-- PNG fallbacks -->
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png" />

    <!-- Apple -->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <title>{title}</title>
    <Analytics />
  </head>
  <body class="text-gray-900 antialiased">
  <Navbar />
  <main>
    <slot />
  </main>
  <Footer />
</body>
</html>
